:root {
    --pinkColor: #C72A67;
    --grayColor: #1E2428;
}

.PinkText {
    color:var(--pinkColor);
}

.EssensAnzeigeContainer {
    display: flex;
    width: 618px;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.HauptGerichteBox {
    width: 618px;
    height: 172px;
    background-color: var(--grayColor);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:14px;
}

.ZusatzBox {
    width: 304px;
    height: 232px;
    background-color: var(--grayColor);
    border-radius: 10px;
    margin-bottom:14px;
}