:root {
    --pinkColor: #C72A67;
    --grayColor: #1E2428;
}

.PinkText {
    color:var(--pinkColor);
}

.GrayColorBackground {
    background-color: var(--grayColor);
}

.PinkColorBackground {
    background-color: var(--pinkColor);
}

.EssensAnzeigeContainer {
    display: flex;
    flex-wrap: wrap;
    width: 618px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    gap:10px;
}

/* Zwei untereinander */
.HauptgerichteBox {
    width: 618px;
    height: 172px;
    background-color: var(--grayColor);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

    > .Title {
        font-weight: bold;
        font-size: 20px;
        color:white;
        margin-top:5px;
        margin-left:5px;
    }
}

/* Zwei nebeneinander */
.ZusatzBox {
    width: 304px;
    height: 232px;
    background-color: var(--grayColor);
    border-radius: 10px;
}

.ZusatzBox.links {
    margin-right:auto;
    margin-left: 0px;
}

.ZusatzBox.rechts {
    margin-left:auto;
    margin-right: 0px;
}

.UntereNavigation {
    width: 618px;
    height: 48px;
    background-color: var(--grayColor);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color:var(--pinkColor);

    a {
        color:var(--pinkColor);
        text-decoration: none;    
    }

    > .Current {
        color:white;
    }

    div {
        margin-right: 10px;
        margin-left: 10px;
    }
}