:root {
    --pinkColor: #C72A67;
    --grayColor: #1E2428;
}

.PinkText {
    color:var(--pinkColor);
}

.GrayColorBackground {
    background-color: var(--grayColor);
}

.PinkColorBackground {
    background-color: var(--pinkColor);
}

.EssensAnzeigeContainer {
    display: flex;
    flex-wrap: wrap;
    width: 618px;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
    gap:5px;
}

/* Zwei untereinander */
.HauptgerichteBox {
    width: 618px;
    height: 172px;
    background-color: var(--grayColor);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Zwei nebeneinander */
.ZusatzBox {
    width: 304px;
    height: 232px;
    background-color: var(--grayColor);
    border-radius: 10px;
}

.ZusatzBox.links {
    margin-right:4px;
}

.ZusatzBox.rechts {
    margin-left:4px;
}